:root {
  --blue: #2196f3;
}
* {
  margin: 0;
  padding: 0;
}
.blue {
  color: var(--blue);
}
body {
  font-family: "roboto", "Raleway", sans-serif;
  text-decoration: none;
  color: #212121;
  width: 1600px;
}
.header {
  border-bottom: 1px solid #ececec;
}
.contacts-top {
  list-style-type: none;
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
}
.contact-details-top {
  display: inline-block;
  font-size: 14px;
}
.mail {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mail:hover svg {
  fill: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone {
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone:hover svg {
  fill: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-top a:link {
  color: black;
  text-decoration: none;
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
}
.logo-top a:visited {
  color: black;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}
.top-links {
  display: inline-flex;
  margin-right: 0;
  align-items: center;
  flex-wrap: nowrap;
}
.top-links a {
  color: #757575;
  text-decoration: none;
}
.top-links a:hover {
  color: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  gap: 46px;
  margin-left: 93px;
}
.nav a:link {
  color: black;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  text-align: center;
}
.nav a:visited {
  color: black;
  text-decoration: none;
}
.nav a:hover {
  color: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.link {
  color: black;
}
.filters {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-right: 8px;
  margin-bottom: 50px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
}
.project-type {
  font-size: 16px;
  color: #757575;
  padding: 20px 24px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  background-color: #ffffff;
  position: relative;
}
.footer {
  color: white;
  background-color: #2f303a;
  margin-top: 94px;
}
.main-portfolio {
  margin-bottom: 94px;
}
.contact-bottom {
  font-style: normal;
  padding-bottom: 60px;

  text-align: left;
}
.banner {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 200px 0 200px 0;
}
.intro {
  background-color: #2f303a;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/backgroundimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0;
  text-align: center;
}
.slogan {
  width: 696px;
  text-align: center;
  color: white;
  font-weight: 900;
  font-size: 44px;
  justify-content: center;
}
.button {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 8px;
  border: 0;
  border-radius: 4px;
  line-height: 26px;
  padding: 6px 22px 6px 22px;
}
.button:hover,
.button:focus {
  background-color: var(--blue);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-bottom-address {
  font-style: normal;
  text-align: left;
  margin-top: 0;
  font-size: 14px;
}
.contacts {
  list-style-type: none;
}
.contact-detail {
  padding-top: 9px;
  font-size: 14px;
}
.contact-bottom-links a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact-bottom-links a:hover {
  color: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-bottom {
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  padding-top: 60px;
  margin-bottom: 20px;
}
.logo-bottom a {
  text-decoration: none;
  color: white;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
}
.bluebutton {
  background-color: var(--blue);
  color: white;
  width: 200px;
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style-type: none;
}
.card {
  background-color: #ffffff;
}
.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cardimg {
  display: block;
}
.cover {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay p {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 49px;
  line-height: 28px;
}
.cover:hover .overlay {
  transform: translatey(0);
}
.lorem {
  display: flex;
  margin: 0;
  gap: 30px;
  color: black;
  margin-bottom: 10px;
  font-size: 14px;
}
.ipsum {
  color: #757575;
}
.about {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}
.what-we-do {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  text-align: center;
  padding-bottom: 94px;
}
.team {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 1170px;
  margin: auto;
}
.our-team {
  background-color: #f5f4fa;
  width: 1600px;
  padding-bottom: 94px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: black;
  margin-bottom: 10px;
}
.role {
  text-align: center;
  color: #757575;
  padding-top: 30px;
  padding-bottom: 16px;
}
.team-member {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.icon-box {
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 70px;
  height: 70px;
  fill: black;
}

.social-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.social-icon {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
}
.social-icon-footer {
  height: 20px;
  width: 20px;
  fill: white;
}

.social-icon-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-icon-circle:hover svg {
  fill: white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-circle:hover {
  background-color: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list {
  display: inline-flex;
  gap: 30px;
  width: 1170px;
}
.client-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.client-box {
  height: 92px;
  width: 170px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-box:hover svg {
  fill: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-box:hover {
  border: 1px solid var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope-icon {
  width: 16px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
}
.envelope-icon:hover {
  fill: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone-icon {
  height: 16px;
  width: 10px;
  fill: #757575;
  margin-right: 10px;
}
.phone-icon:hover {
  fill: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-circle-footer {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.social-icon-circle-footer:hover {
  background-color: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-circle-footer:hover svg {
  fill: white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footerflex {
  display: flex;
  gap: 70px;
  align-items: top;
}
.joinus-header {
  font-size: 14px;
  font-weight: 700;
}
.joinus-container {
  padding-top: 72px;
}
.active {
  position: relative;
}
.active::after {
  content: "";
  height: 4px;
  background-color: var(--blue);
  position: absolute;
  border-radius: 2px;
  width: 100%;
  bottom: -31px;
}
.service {
  position: relative;
}
.subtitle {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 224px;
  left: 0;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 27px;
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;
  transition: transform 500ms linear, visibility 500ms linear,
    opacity 500ms linear;
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: white;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
  box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal a {
  color: var(--blue);
  font-size: 14px;
}
.label {
  display: block;
  position: relative;
  color: rgba(117, 117, 117, 1);
  font-size: 12px;
  text-align: left;
  line-height: 1.2;
}

.form-input-name,
.form-input-phone,
.form-input-email {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 42px;
}

.form-input-name:focus,
.form-input-phone:focus,
.form-input-email:focus {
  outline-color: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-person,
.form-icon-phone,
.form-icon-email {
  position: absolute;
  top: 50%;
  left: 3%;
  fill: #212121;
  width: 18px;
  height: 18px;
}
.form-input-name:focus + .form-icon-person,
.form-input-phone:focus + .form-icon-phone,
.form-input-email:focus + .form-icon-email {
  fill: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.close-btn:hover {
  color: var(--blue);
  border: 1px solid var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover svg {
  fill: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 1600px;
  height: 100%;
  pointer-events: none;
  transform: scaleY(0);
}
.form-title {
  font-size: 20px;
  font-weight: 700;
  color: rgba(33, 33, 33, 1);
  margin-bottom: 12px;
}
.xclose {
  fill: rgba(0, 0, 0, 1);
  position: relative;
  top: 2px;
  height: 18px;
  width: 18px;
}
.textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
  letter-spacing: 1%;
  resize: none;
  margin-bottom: 20px;
}
.textarea:focus {
  outline-color: var(--blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon-person:hover svg {
  fill: var(--blue);
}

.send-form {
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  border: 0;
  cursor: pointer;
}
.policies {
  font-size: 14px;
  margin-top: 20px;
}
.policies::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 4px;
  position: absolute;
  left: 55px;
  bottom: 142px;
}
.policies-checkbox {
  width: 16px;
  height: 16px;
  display: none;
}
.policies-checkbox:checked + .policies::before {
  background-color: var(--blue);
  border: 1px solid white;
  background-image: url(../images/tick.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.newsletter-container {
  padding-top: 72px;
}
.signin {
  display: inline-flex;
  gap: 12px;
}
.newsletter-input {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.newsletter-input:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
  border: 1px solid var(--blue);
}

.newsletter-button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  text-align: left;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  background-color: var(--blue);
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 16px;
}
.send-icon {
  position: absolute;
  left: 148px;
  fill: white;
}
